<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="./css/index.css">
		<title>{{ title }} | CSS Tooling</title>
	</head>
	<body>
		{{> header }}
		<main class="l-main">
			{{> body }}
		</main>
	</body>
</html>
